<div id="navbar">    
    <div class="navigation-example">
        <nav class="navbar navbar-expand-lg" style="">
            <div class="container">
                <a class="navbar-brand" href="#">Inicio</a>
                <button class="navbar-toggler navbar-toggler-right burger-menu" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-primary">
                    <ul class="navbar-nav ml-auto">                        
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="nc-icon nc-single-02" aria-hidden="true"></i>&nbsp;Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>&nbsp;Configuracion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="nc-icon nc-compass-05" aria-hidden="true"></i>&nbsp;Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>        
    </div>
</div>